* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
}

nav {
    /* background-color: green; */
    /* max-width: 2000px; */
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: greenyellow;
}
.search-div {
    width: 50%;
    background-color: #ffff;
    min-width: 400px;
}
.contents {
    width: 50%;
    /* background-color: orchid; */
    min-width: 400px;
}
.nav-secondary-container {
    display: flex;
    flex-flow: wrap;
    height: auto;
}
ul {
    display: flex;
    list-style-type: none;
}
ul li {
    padding: 1em;
}
#searchbar {
    padding: 1em 2em 1em 2em;
    width: 70%;
}

/* section */

.section-secondary-container {
    display: flex;
    flex-flow: wrap;
    height: auto;
}

.section-img-class,
.section-contents-div {
    width: 50%;
    /* min-width: 400px; */
}

.section-img-class {
    background-color: #947153;
}

.section-contents-div {
    background-color: purple;
    min-width: 100px;
}
/* .section-img-class img {
    width: 40%;
} */
section {
    margin-top: 3em;
}
